@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900,1000&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900,1000&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700,800,900,1000&display=swap');

@import url('https://fonts.googleapis.com/css?family=Varela+Round:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Rubik", Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root{
    --background1: #ffff;
    --accent1: #18b100;
    --border1: #127b02;

    --hover1: #2ca31a;
    --toggleSvgColor: invert(1);
}

body{
  background: var(--background1);
  color: var(--textColor1);
}

main{
  margin-top: 123px;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
}

.displaynone{
  display: none !important;
}

.margintop0{
  margin-top: 0 !important;
} 

.fixedheader{
  position: fixed !important;    
  z-index: 99999 !important;    
  animation: fadeinheader 0.3s ease forwards;
}

.shadowbottom{
  border-bottom: 1px solid #4e4e4e;
  box-shadow: rgb(0 0 0 / 18%) 0px 7px 7px;
  margin-bottom: 50px;
}

.shadowbottom2{
  border-bottom: 1px solid #4e4e4e;
  box-shadow: rgb(0 0 0 / 18%) 0px 7px 7px;
  margin-bottom: 75px !important
}

.bordertop{
  border-top: 1px solid var(--border1);
  margin-top: 75px !important;
  padding-top: 50px;
}

.bordernone{
  border: none !important;
}

@media only screen and (max-width: 900px) {
  .bordertop{
    margin-top: -5px !important;
  }
}

.borderbottom{
  border-bottom: 1px solid var(--border1);
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.borderbottom2{
  border-bottom: 1px solid var(--border1);
}

.openhamburger {
  animation: openhamburger 0.5s forwards
}

.closehamburger {
  animation: closehamburger 0.5s forwards
}
  
@keyframes fadeinheader {
  0% {
      top: -50px;
      opacity: 0;
  }

  to {
      top: 0px;
      opacity: 1;
  }
}

@keyframes openhamburger {
  0% {
      left: -1000px
  }

  to {
      left: 0
  }
}

@keyframes closehamburger {
  0% {
      left: 0
  }

  to {
      left: -1000px
  }
}
