.meestgesteldevragen{
    margin: 100px 0;
}

.meestgesteldevragen > div{
    max-width: 1200px;
    margin: 50px auto;
}

.meestgesteldevragen > div > p:first-child{
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.meestgesteldevragen > div > h2{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.meestgesteldevragen > div > section p{
    margin: 30px 0 5px 0;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 0.8em;
}

.meestgesteldevragen > div > section a{
    display: block;
    color: var(--accent1);
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.meestgesteldevragen > div > div > section{
    background: var(--accent2);
    border-right: 0.5px solid var(--border1);
    border-left: 0.5px solid var(--border1);
    border-bottom: 0.5px solid var(--border1);
    overflow: hidden;
}

.meestgesteldevragen > div > div > section:first-child{
    border-top: 0.5px solid var(--border1);
}

.meestgesteldevragen > div > div > section button{
    color: var(--textColor1);
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 60px;
    padding-left: 40px;
    text-align: initial;
    background: none;
    border: none;
    position: relative;
}

.meestgesteldevragen > div > div > section button:hover{
    color: var(--accent1);
    transition: 0.2s ease;
}

.meestgesteldevragen > div > div > section button span:first-child{
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--accent1);
    transform: rotate(180deg);
}

.meestgesteldevragen > div > div > section button:hover span:first-child{
    border-top: 6px solid var(--accent1);    
    transition: 0.2s ease;
}

.meestgesteldevragen > div > div > section div{
    list-style: none;
    max-height: 0;
    position: relative;
    overflow: hidden;
}


.meestgesteldevragen > div > div > section div{
    border-top: 0.5px solid var(--accent1);
    background-color: #ffff;
    opacity: 0;
}

.meestgesteldevragen > div > div > section div p{
    margin: 30px;
    color: var(--textColor2);
    font-weight: 300;
    font-size: 14px
}

@media only screen and (max-width: 1215px) {
    .meestgesteldevragen > div{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 800px) {
    .meestgesteldevragen > div > div > section button{
        font-size: 0.8em;
        padding-right: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .meestgesteldevragen > div > h2{
        font-size: 30px;
    }
}