.offerte{
    max-width: 1200px;
    margin: 0 auto 150px auto;
    padding-top: 50px;
    display: flex;
}

.offerte > div:nth-of-type(1){
    background-color: var(--accent1);
    width: 100%;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    list-style: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) ul li{
    display: flex;
    gap: 3px;
    font-size: 12px;
    position: relative;
    color: #ffff;
    font-weight: 400;
    width: 100%;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffff;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) ul li:last-child{
    margin-right: 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) ul li:last-child::before{
    display: none;
}


.offerte > div:nth-of-type(1) > div:nth-of-type(2){
    width: 100%;
    height: 100%;
    background-color: #efefef;
    padding: 25px 25px 100px 25px;
    position: relative;
}


.offerte > div:nth-of-type(1) > div:nth-of-type(2) section h2{
    font-weight: 500;
    margin-bottom: 15px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section p{
    margin-bottom: 25px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section ul{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section ul li{
    background-color: #ffff;
    border: 1.5px solid #ffff;
    position: relative;
    border-radius: 15px;
    margin-bottom: 25px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section ul li label{
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    cursor: pointer;
    padding-left: 100px;
    font-weight: 400;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section ul li label img{
    position: absolute;
    width: 50px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section ul li input{
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}


.offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:nth-of-type(1){
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 200px;
    height: 50px;
    background: #747474;
    color: #ffff;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:last-child{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 200px;
    height: 50px;
    background: var(--accent1);
    color: #ffff;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:hover{
    background-color: var(--hover1);
    transition: 0.2s ease;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li{
    margin-top: 25px;
    background: none;
    border: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li span{
    position: relative;
    display: block;
    width: 250px;
    height: fit-content;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li span > p{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    height: fit-content;
    margin: auto;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li span input{
    display: block;
    padding: 0 50px 0 25px;
    font-weight: 500;
    font-size: 15px;
    color: #000;
    border: none;
    position: static;
    margin: 15px 0;
    border-radius: 15px;
    height: 65px;
    width: 100%;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li span input:focus{
    border: 1.5px solid var(--accent1);
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li p{
    margin-bottom: 5px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li p:nth-of-type(2), .offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li p:nth-of-type(3){
    font-size: 11px;
}





.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul li{
    height: 65px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul li input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: none;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 15px;
    color: #000;
} 

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li{
    width: 100%;
    background: none !important;
    border: none !important;
    margin-bottom: 50px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2){
    display: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li:last-child{
    margin-top: 85px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li p{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li select{
    height: 65px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 500;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2) span{
    display: flex;
    height: 65px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 500;
    background-color: #ffff;
} 

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2) span input[type="file"]{
    position: static;
    height: fit-content;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li:last-child input{
    background: #ffff;
    top: 30px;
    width: 150px;
    height: 50px;
    font-size: 13px;
    text-align: initial;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(5) ul:nth-of-type(2) li textarea{
    display: flex;
    height: 150px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    background-color: #ffff;
    resize: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(6){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(7) span{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}  

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(7) span h2{
    margin: 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(7) span img{
    width: 40px;
    height: auto;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(7) p{
    font-size: 14px;
    max-width: 550px;
    margin-left: 10px;
}

@media only screen and (max-width: 850px) {

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) ul li {
        flex-direction: column;
        align-items: center;
        font-size: 9px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) ul li p{
        width: fit-content;
    }


    .offerte > div:nth-of-type(1) > div:nth-of-type(2){
        padding: 15px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(2) section ul{
        grid-template-columns: 100%;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:last-child{
        right: 15px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:nth-of-type(1){
        left: 15px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(2) section:nth-of-type(2) ul:nth-of-type(2) li span{
        width: 100%;
    }
}

@media only screen and (max-width: 475px) {
    .offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:last-child{
      width: 180px;
    }
  
    .offerte > div:nth-of-type(1) > div:nth-of-type(2) section button:nth-of-type(1){
      width: 140px;
    }
  }